<div class = "outer">
  <div class = "inner">
  <ul class="errors">
  </ul>
  <%= form_for :session, url: sessions_path, remote: true do |f| %>
      <%= f.email_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit value: "Log In" %>
  <% end %>
  </div>
  <div class="registration-link">
    <p class="content inner">
      Not registered for EARP access? <%= link_to "Register", new_user_path, remote: true %>
    </p>
  </div>
</div>
