<div class="index-body">
  <div class="add-experiment">
    <%= button_to "Add Experiment", new_experiment_path, method: "get" %>
  </div>
  <div class="index-header">
    <h2>Experiment Board</h2>
  </div>
  <div class="experiments-container">
    <% @experiments.each do |experiment| %>
      <article class="individual-experiment">
        <span><%= link_to experiment.title, experiment_path(experiment.id) %></span>
        <span>Staff needed: <%= experiment.staff_needed %></span>
        <div class="summary">
          <span>Summary: <%= experiment.summary %></span>
        </div>
      </article>
    <% end %>
  </div>
  <footer>
    <div>
      <%= link_to "Top", "#"%>
    </div>
  </footer>
</div>
