<h2>Title</h2>
<p><%= @experiment.title %></p>

<h2>Summary</h2>
<p><%= @experiment.summary %></p>

<h2>Staff Needed</h2>
<p><%= @experiment.staff_needed %></p>

<h2>Contact Information</h2>
<p><%= @experiment.contact_info %></p>

<h2>Abstract</h2>
<p><%= @experiment.summary %></p>

<h2>Introduction</h2>
<p><%= @experiment.introduction %></p>

<h2>Hypothesis</h2>
<p><%= @experiment.hypothesis %></p>

<h2>Methods</h2>
<p><%= @experiment.methods %></p>

<h2>Observations</h2>
<p><%= @experiment.observations %></p>

<h2>Results</h2>
<p><%= @experiment.results %></p>

<h2>Conclusion</h2>
<p><%= @experiment.conclusion %></p>
