<!DOCTYPE html>
<html>
  <head>
    <title>Established Autogenics Research Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

      <%= link_to "EARP", experiments_path, class: "nav-logo" %>
      <% if session[:user_id] %>
        <%= link_to "Logout", session_path(session[:user_id]), method: :delete, class: "logout" %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
